.App {
  text-align: center;
}

.App-header {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Main-buttons {
  padding: 4% !important;
  max-width: 75% !important;
  margin: 10px !important;
}

.Log-out {
  margin: 100px 0px 0px 0px !important;
}

.Header {
  max-width: 75% !important;
  height: auto !important;
  margin: 50px !important;
}

.Mass-Effect-2 {
  background-color: #BA602E !important;
  border: 2px #BA602E !important;
  color: white !important;
}

.overview-container {
  width: 75%;
  margin: 0% 12.5%;
}

.crew-reload-container {
  display: flex;
}

.left-crew-options {
  flex: 2;
  padding: 0% 5%;
  overflow: hidden;
}

.crew-divide-line {
  border-top: 1px solid black;
}

.right-refresh {
  flex: 1;
}

.add-enter-container {
  padding-top: 10%;
}

.Add-enter-buttons {
  padding: 4% !important;
}